ELASTIC_SECURITY_ENABLED=false
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
ES_JAVA_OPTS=-Xms1g -Xmx1g

Что это значит
ELASTIC_SECURITY_ENABLED=false — отключает security в локальной лаборатории.

ELASTICSEARCH_HOSTS — адрес Elasticsearch для Kibana.

ES_JAVA_OPTS — параметры памяти JVM.
